@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.main-header .logo {
  font-family: "Yusei Magic";
}

div#shiny-tab-AboutTab {
  background-color: ghostwhite;
  border-radius: 20px;
  padding: 10px 20px 20px 20px;
}